@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=PT+Sans&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

/* NAVBAR STYLING */
#nav{
    background-color: #293F50;
    color: white;
    display: flex;
    position: fixed;
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 10px;
    align-items: center;
}
/* left  */
.navleft p{
    font-size: 3rem;
    font-weight:600;
    opacity: 0.6;
}
.navleft p:hover{
    opacity: 1;
}
/* right  */
.navright{
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}
.navright p{
    margin-bottom: 20px;
    font-size: 1.3rem;
    color: #56848f;
    font-weight: 1000;
}

.list{
    list-style: none;
    display: flex;
}
.list a{
    margin-left: 20px;
    text-decoration: none;
    font-family:sans-serif;
    color: white;
    font-size: 0.8rem;
}
.list a:hover{
    color: #56848f;
}

/* HOME SECTION STYLING */
#home{
    background-color: #293F50;
    width: 100%;
    height: 450px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
    line-height: 40px;
}
.hh1{
    margin-top: 100px;
    font-size: 2.2rem;
    color: #56848f;
    font-weight: 600;
}
#home{
    font-size: 1.8rem;
}
.hbtn{
    background: transparent;
    font-family:sans-serif;
    padding:25px;
    border: 1px solid white;
    color: white;
    font-size: 0.9rem;
    margin-top: 20px;
    border-radius: 4%;
    transition: 0.2s;
}
.hbtn:hover{
    cursor: pointer;
    color: #293F50;
    background-color: white;
}
/* INFO SECTION STYLING */
#info{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items:baseline;
    grid-column-gap:50px ;
    padding: 10%;
    width: 100%;
    background-color: #EEEEEE;
}
.tile img{
    width:90%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.ih1{
    color:#09141d;
    font-weight: bolder;
    font-size: 2rem;
    background-color: #ddd;
    width: 100%;
    height: 50px;
    padding-top: 15px;
}
.ih2{
    margin-top: 15px;
    margin-bottom: 10px;
    color:#09141d;
    font-weight: bold;
    font-size: 1.5rem;
}
.tile{
    border: 1px solid black;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
}
.tile:hover{
    box-shadow:10px 10px rgb(146, 142, 142);
}
.tile p{
    font-size:1rem;
    font-weight: bold;
}
.btn{
    padding: 10px;
    margin: 20px;
    background-color:#517088 ;
    color: white;
    border: 1px solid #09141d;
    cursor: pointer;
    transition: 0.5s;
}
.btn:hover{
    background-color: #263b4d;
}
/* FOOTER SECTION STYLING */
#footer{
    background-color: #293F50;
}
.top{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 20px;
    align-items: center;
    width: 100%;
    padding: 6%;
    color: white;
    font-weight: 600;
    font-size: 1.3rem;
    text-align: center;
}
.top p{
    opacity: 0.4;
}
.flinks{
    list-style: none;

}
.d1{
    width:100%;
}
.flinks a{
    text-decoration: none;
    opacity: 0.4;
    color: white;
    font-size: 1rem;
}
.line{
    background-color: white;
    opacity: 0.1;
    width: 100%;
    align-self: center;
    height: 1px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.bottom{
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.bottom p{
    width: 100%;
    background-color: #09141d;
    padding: 20px;
    color: white;
    opacity: 0.4;
    font-weight: 600;
}